h1{
  text-transform: capitalize;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}