button{
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 20px;
    inline
}
a{
   background-color: black;
   padding: 15px;
   color: white;
   text-decoration: none;
   border-radius:10px;
   font-family: 'Exo', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Exo', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
}