/* Reset some default styles */
body, h1, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif; /* Load Montserrat font from Google Fonts */
    background-color: #222;
    color: #fff;
}

/* Style the hero section */
.hero {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 2rem 0;
}

.hero-image {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 3rem 0;
}

.top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}

.aiml-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.download-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
}

.button-note {
    margin-right: 1rem;
    font-weight: bold;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .download-button {
        margin-top: 1rem;
    }
}
